%% ex: ft=erlang ts=4 sw=4 et
%% -*- erlang-indent-level: 4;indent-tabs-mode: nil; fill-column: 92 -*-
[{sqeache_client, [{sqeache_vip, "127.0.0.1"},
                   {sqeache_port, 6543},
                   {pool, [{max_count, 512},
                           {init_count, 5},
                           {queue_max, 5},
                           {cull_interval, {30, sec}},
                           {max_age, {1, min}}
                          ]}
                  ]},
 {sasl, [{errlog_type, error}]}
].

